@page
@model Mentornote.Pages.Shared.StartModel
@{
}
<div class="startpagecont">
    <nav>
        <ul class="startnav">
            <li class="startnavitem">
                <a class="startnavlink" href="~/">Notes</a>
            </li>
            <li class="startnavitem">
                <a class="startnavlink" href="~/Functionalities/FlashCards">Start</a>
            </li>
        </ul>
    </nav>
    <div class="start-con-holder">
        <h2>How Would You like to Begin</h2>
        <form name="start-form" method="post" class="start-form" enctype="multipart/form-data">
            @Html.AntiForgeryToken() <!-- Required for Razor Pages -->
            <div class="startform">
                <ul>
                    <li>
                        <input type="file"  name="UploadedNote" required>
                        <input type="submit" name="Submit" value="Upload" class="btn"/>
                    </li>
                    <li>
                        <input type="text" id="Video" name="video" required>
                        <input type="submit" name="Sumbit" value="Video Post" />
                    </li>
                    <li>
                        <input type="text" id="Text" name="text" required>
                        <input type="submit" name="Sumbit" value="Video Post" />
                    </li>
                </ul>
            </div>
        </form>
        <form name="Notesform" method="post" class="notes-form">
            @Html.AntiForgeryToken() <!-- Required for Razor Pages -->
            <div class="notes-cards-container">
                <p class="cont-head">My Notes</p>
                @foreach (var flashcardset in @Model.FlashcardSets)
                {
                    <div class="notes-cards">
                        <p class="note-title">@flashcardset.Title</p>
                        <input type="hidden" name="FlashCardSetId" value="@flashcardset.Id" />
                        <div class="notes-contols">
                            <a href="/Functionalities/FlashCards?flashcardSetId=@flashcardset.Id" class="notes-go">
                                Go
                            </a>
                            @* <input type="submit" name="Submit" value="Go" class="notes-go" /> *@
                        </div>
                    </div>
                }
                @if (Model.FlashcardSets.Count == 0)
                {
                  
                    <p class="note-title">You have no Notes Yes Lets Make Some!!</p>
               
                }
            </div>
        </form>
        
    </div>
</div>



